
* {
  box-sizing: border-box;
  
}

h1 {
	width: 350px;
	height: 70px;
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	padding-top: 20px;
	margin-left: 85px;
	float:left;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
#about{
	float:right;
	width:30px;
	padding-right: 5px;
	margin-right: 27px;
	margin-top: 30px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-width: 0px 0px 0px 0px;
	border-color: #777777;
	border-style: solid;
    text-align: center;
    width: 100px;
    height: 20px;
    }
#portfolio{
	float:right;
	padding-right: 5px;
	margin-right: 40px;
	margin-top: 30px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-width: 0px 0px 0px 0px;
	border-color: #777777;
	border-style: solid;
}
#contact{
	float:right;
	margin-right: 165px;
	margin-top: 30px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-width: 0px 0px 0px 0px;
	border-color: #777777;
	border-style: solid;
}

#box {
top: 90px; 
width: 960px;
height: 480px;
background-color: #e8e1cf;
position:relative;
margin-left: 40px;
border-width: 5px 0 0 0;
border-color: #777777;
border-style: solid;
}
#bio {
  position: absolute;
	width: 500px;
	height: 380px;
	background-color: #ffffff;
	margin-left: 44px;
	margin-top: 50px;
	border-color: #D9D3C4;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
}
#aboutme {
	color: #4aaaa5;
	margin-left: 20px;
    border-color: #777777;
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	margin-right: 20px;
	border-color: #E5DEDE;
	font-family: 'Georgia', Times, Times New Roman, serif;
	}

#mainimage {
	height: 260px;
	width: 160px;
	float:left;
	margin: 20px;
}
#content{
	float:right;
	width:55%;
	margin-right: 20px;
	color: #B9AD90;
    
}
#connectwithme{
	position: absolute;
	width:240px;
	height: 150px;
	background-color: #ffffff;
	margin-left: 610px;
	text-align: center;
	margin-top: 50px;
	border-color: #D9D3C4;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
h3{
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	margin-right: 20px;
	border-color: #E5DEDE;
	margin-left: 20px;
	padding: 10px;
	text-align: center;
}

footer {
clear: both;
position : absolute;
bottom : 0;
padding:10px;
background-color:#666666;
color: #E8E1E1;	
margin-bottom: 0 auto;
width: 960px;
margin-left: 40px;
text-align: center;
border-width: 8px 0px 0px 0px;
border-style: solid;
border-color: #4aaaa5;
font-size: x-small;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

